extends layout 

block content
  h1 #{title}: #{book.title}

  if book_instances.length

    p #[strong Delete the following book instances before attempting to delete this book.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Book instances

      each book_ins in book_instances
        hr
        p 
          a(href=book_ins.url) #{book_ins._id}
        
        p #[strong Imprint:] #{book_ins.imprint}
        p #[strong Status:]
          if book_ins.status=='Available'
            span.text-success #{book_ins.status}
          else if book_ins.status=='Maintenance'
            span.text-danger #{book_ins.status}
          else
            span.text-warning #{book_ins.status}

          if book_ins.status!='Available'
            p #[strong Due back:] #{book_ins.due_back_formatted}

  else
    p Do you really want to delete this Book?

    form(method='POST' action='')
      div.form-group
        input#authorid.form-control(type='hidden', name='bookid', required='true', value=book._id )

      button.btn.btn-primary(type='submit') Delete